<?xml version="1.0" encoding="UTF-8" ?>
<hydra_presets>
    <rendermethod>pathtracing</rendermethod>
    <layersForFilter>0</layersForFilter>
    <pmDiffuseFrequency>1</pmDiffuseFrequency>
    <rayReorderPattern>2,4,6,8, ...</rayReorderPattern>
    <debugOutput>0</debugOutput>
    <drawCausticPhotons>0</drawCausticPhotons>
    <icSSError2>4</icSSError2>
    <causticPower>1.0</causticPower>
    <maxDiffusePhotons>1e+006</maxDiffusePhotons>
    <path_tracing>0</path_tracing>
    <phDebugOctreeType>mr-octree</phDebugOctreeType>
    <ptInitialSPP>1</ptInitialSPP>
    <enableAmbientView>0</enableAmbientView>
    <pmCausticVisibilityTracing>1</pmCausticVisibilityTracing>
    <pmDiffuseVisibilityTracing>1</pmDiffuseVisibilityTracing>
    <tmWhitePoint>2.5</tmWhitePoint>
    <maxCausticPhotons>500000</maxCausticPhotons>
    <ptCoherent>0</ptCoherent>
    <diff_trace_depth>3</diff_trace_depth>
    <icDrawRecords>0</icDrawRecords>
    <initialGartherRadiusCaustic>0.001</initialGartherRadiusCaustic>
    <progressivePhotonMap>0</progressivePhotonMap>
    <pt_error>5</pt_error>
    <savedImageName>hydra_0</savedImageName>
    <icSSError4>16</icSSError4>
    <rtMeasureRaysIndex>primary</rtMeasureRaysIndex>
    <ptOneSeed>0</ptOneSeed>
    <resolution>512x512</resolution>
    <skipFirstBounce>1</skipFirstBounce>
    <drawRaysStatInfo>0</drawRaysStatInfo>
    <icFixedRays>1024</icFixedRays>
    <ptFilterType>box</ptFilterType>
    <ptStupidMode>0</ptStupidMode>
    <computeIrradianceCache>0</computeIrradianceCache>
    <icEvalAlg>fixed</icEvalAlg>
    <inColladaProfile>C:\[Hydra]\pluginFiles\material\hydra_profile_generated.xml</inColladaProfile>
    <inSceneFile>C:\[Hydra]\pluginFiles\material\scene.vsgf</inSceneFile>
    <initialGartherRadius>0.01</initialGartherRadius>
    <shadows>1</shadows>
    <anti_aliasing>AA: 1x</anti_aliasing>
    <camType>UVN</camType>
    <drawBlocks>0</drawBlocks>
    <pmDiffuseSinglePass>0</pmDiffuseSinglePass>
    <ptEnableRoulette>1</ptEnableRoulette>
    <rayReorderType>none</rayReorderType>
    <toneMapNow>0</toneMapNow>
    <trace_depth>4</trace_depth>
    <camAspect>90.0</camAspect>
    <icSSError1>1</icSSError1>
    <icBounce>0</icBounce>
    <generateHydraProfiles>1</generateHydraProfiles>
    <ptCaustics>0</ptCaustics>
    <showLayerType>combined</showLayerType>
    <anti_aliasing_index>0</anti_aliasing_index>
    <drawPhotons>0</drawPhotons>
    <gatherBounce>1</gatherBounce>
    <icError>0.1</icError>
    <icWSError>40</icWSError>
    <renderer_type>GPU Render</renderer_type>
    <savedImageId>0</savedImageId>
    <tmPhi>16</tmPhi>
    <icMaxPassesNum>16</icMaxPassesNum>
    <minRaysPerPixel>64</minRaysPerPixel>
    <maxRaysPerPixel>64</maxRaysPerPixel>
    <rtFullSizeMode>0</rtFullSizeMode>
    <tmGamma>2.2</tmGamma>
    <texInputGamma>2.2</texInputGamma>
    <tmStrength>0.25</tmStrength>
    <pmCausticFrequency>4</pmCausticFrequency>
    <showImageType>Show simple image</showImageType>
    <camFlySpeed>1.0</camFlySpeed>
    <enableCausticPhotonTracing>0</enableCausticPhotonTracing>
    <enableDiffusePhotonTracing>0</enableDiffusePhotonTracing>
    <save_image>0</save_image>
    <reloadHydraProfile>0</reloadHydraProfile>
    <enableDOF>0</enableDOF>
    <dofFocalPlaneDist>1.0</dofFocalPlaneDist>
    <dofLensRadius>0.1</dofLensRadius>
    <ptMIS>1</ptMIS>
    <norandomlight>0</norandomlight>
    <outputRedirect>0</outputRedirect>
    <mlLayerNum>1</mlLayerNum>
    <method_manual>0</method_manual>
    <method_primary>0</method_primary>
    <method_secondary>0</method_secondary>
    <method_tertiary>0</method_tertiary>
    <method_caustic>0</method_caustic>
    <all_secondary>0</all_secondary>
    <all_tertiary>0</all_tertiary>
    <frame_buffer_format>float4</frame_buffer_format>
    <nowindow>1</nowindow>
    <mlRadius>5</mlRadius>
    <mlSigma>2.0</mlSigma>
    <mlfilterPrimary>0</mlfilterPrimary>
    <mlLayerNum>1</mlLayerNum>
    <sppmd_irrad_map>0</sppmd_irrad_map>
    <sppmd_alpha>0.66667</sppmd_alpha>
    <sppmc_alpha>0.66667</sppmc_alpha>
    <guided_pt>0</guided_pt>
    <ptRegenerate>1</ptRegenerate>
    <renderer_type_internal>CUDA</renderer_type_internal>
    <deviceid>0</deviceid>
    <inMaterialEditor>1</inMaterialEditor>
    <frommax>1</frommax>
    <resumenow>0</resumenow>
</hydra_presets>
